[submodule "external_libraries/nova-simd"]
	path = external_libraries/nova-simd
	url = git://supercollider.git.sourceforge.net/gitroot/supercollider/nova-simd
[submodule "external_libraries/nova-tt"]
	path = external_libraries/nova-tt
	url = git://supercollider.git.sourceforge.net/gitroot/supercollider/nova-tt
[submodule "external_libraries/boost_lockfree"]
	path = external_libraries/boost_lockfree
	url = git://supercollider.git.sourceforge.net/gitroot/supercollider/boost-lockfree
[submodule "submodules/quarks"]
	path = submodules/quarks
	url = git://github.com/miguel-negrao/Quarks.git
[submodule "submodules/WFS Library"]
	path = submodules/WFS Library
	url = git://github.com/GameOfLife/WFSCollider-Class-Library.git
[submodule "submodules/Unit Lib"]
	path = submodules/Unit Lib
	url = git://github.com/GameOfLife/Unit-Lib.git
[submodule "submodules/sc3-plugins"]
	path = submodules/sc3-plugins
	url = git://sc3-plugins.git.sourceforge.net/gitroot/sc3-plugins/sc3-plugins
