[submodule "mac/Standalone Resources/SCClassLibrary/Extensions/WFS Library"]
	path = mac/Standalone Resources/SCClassLibrary/Extensions/WFS Library
	url = git-GameOfLife@pl3.projectlocker.com:WFS.git
[submodule "mac/Standalone Resources/quarks"]
	path = mac/Standalone Resources/quarks
	url = github.com/miguel-negrao/Quarks.git
